

<div class="block-content">
    <div class="ng-star-inserted">
        <div class="surface-50 px-4 md:px-6 lg:px-8 border-1 surface-border border-x-none">
            <div class="grid flex-wrap -mr-3 -ml-3 md:text-left">
                <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-2 py-4 px-4 border-bottom-1 lg:border-y-none md:border-right-1 surface-border">
                    <span class="text-900 text-xl block">Company</span>
                    <ul class="list-none p-0">
                        <li>
                            <a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">About Peak</a>
                        </li>
                        <li>
                            <a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Factories</a>
                        </li>
                        <li>
                            <a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Careers</a>
                        </li>
                        <li>
                            <a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Environmental Initiatives</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-2 py-4 px-4 border-bottom-1 lg:border-y-none md:border-right-1 surface-border">
                    <span class="text-900 text-xl block">Account</span>
                    <ul class="list-none p-0">
                        <li>
                            <a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Manage Account</a>
                        </li>
                        <li>
                            <a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Saved Items</a>
                        </li>
                        <li>
                            <a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">My Cart</a>
                        </li>
                        <li>
                            <a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Wishlist</a>
                        </li>
                        <li>
                            <a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Orders &amp; Returns</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-2 py-4 px-4 border-bottom-1 lg:border-y-none lg:border-right-1 surface-border">
                    <span class="text-900 text-xl block">Legal</span>
                    <ul class="list-none p-0">
                        <li>
                            <a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Investor Relations</a>
                        </li>
                        <li>
                            <a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Data Privacy</a>
                        </li>
                        <li>
                            <a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Terms of Service</a>
                        </li>
                        <li>
                            <a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Legal Information</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-2 py-4 px-4 mb-4 lg:mb-0">
                    <span class="text-900 text-xl block">Subscribe</span>
                    <span class="text-500 block mt-4 line-height-3">Join our community to receieve the latest updates and special promotions.</span>
                    <div class="p-inputgroup mt-3 mx-auto lg:mx-0" style="max-width: 30rem;">
                        <button type="button" pbutton="" icon="pi pi-envelope" class="p-element text-500 surface-100 surface-border p-button p-component p-button-icon-only">
                            <span class="p-button-icon pi pi-envelope" aria-hidden="true"></span>
                        </button>
                        <input type="text" pinputtext="" placeholder="Email" class="p-inputtext p-component p-element border-y-1 text-500 border-x-none surface-border">
                        <button type="button" pbutton="" icon="pi pi-arrow-right" class="p-element text-500 surface-100 surface-border p-button p-component p-button-icon-only">
                            <span class="p-button-icon pi pi-arrow-right" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="surface-section px-3 py-4 lg:px-8 flex flex-column lg:flex-row justify-content-between align-items-center">
            <div class="col-fixed flex flex-wrap flex-order-1 lg:flex-order-0">
                <img src="assets/images/blocks/ecommerce/storefront/storefront-1-21.svg" alt="Amex" class="w-3rem mr-3">
                <img src="assets/images/blocks/ecommerce/storefront/storefront-1-22.svg" alt="Apple Pay" class="w-3rem mr-3">
                <img src="assets/images/blocks/ecommerce/storefront/storefront-1-23.svg" alt="Mastercard" class="w-3rem mr-3">
                <img src="assets/images/blocks/ecommerce/storefront/storefront-1-25.svg" alt="Visa" class="w-3rem mr-3">
                <img src="assets/images/blocks/ecommerce/storefront/storefront-1-24.svg" alt="PayPal" class="w-3rem">
            </div>
            <div class="col-fixed flex align-items-center flex-order-0 lg:flex-order-1">
                <a tabindex="0" class="cursor-pointer mr-3">
                    <i class="pi pi-facebook surface-900 p-1 text-sm border-circle text-0"></i>
                </a>
                <a tabindex="0" class="cursor-pointer mr-3">
                    <i class="pi pi-twitter surface-900 p-1 text-sm border-circle text-0"></i>
                </a>
                <a tabindex="0" class="cursor-pointer mr-3">
                    <i class="pi pi-youtube surface-900 p-1 text-sm border-circle text-0"></i>
                </a>
                <a tabindex="0" class="cursor-pointer">
                    <i class="pi pi-google surface-900 p-1 text-sm border-circle text-0"></i>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="block-content">
    <div class="ng-star-inserted">
        <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
            <div class="grid pb-6 border-bottom-1 border-300">
                <div class="col-12 md:col-3">
                    <div class="text-900 font-bold line-height-3 mb-3">Company</div>
                    <a class="text-700 block cursor-pointer line-height-3 mb-2">About Us</a>
                    <a class="text-700 block cursor-pointer line-height-3 mb-2">News</a>
                    <a class="text-700 block cursor-pointer line-height-3 mb-2">Investor Relations</a>
                    <a class="text-700 block cursor-pointer line-height-3 mb-2">Careers</a>
                    <a class="text-700 block cursor-pointer line-height-3">Media Kit</a>
                </div>
                <div class="col-12 md:col-3">
                    <div class="text-900 font-bold line-height-3 mb-3">Resourses</div>
                    <a class="text-700 block cursor-pointer line-height-3 mb-2">Get Started</a>
                    <a class="text-700 block cursor-pointer line-height-3 mb-2">Learn</a>
                    <a class="text-700 block cursor-pointer line-height-3">Case Studies</a>
                </div>
                <div class="col-12 md:col-3">
                    <div class="text-900 font-bold line-height-3 mb-3">Community</div>
                    <a class="text-700 block cursor-pointer line-height-3 mb-2">Discord</a>
                    <a class="text-700 block cursor-pointer line-height-3 mb-2">Events</a>
                    <a class="text-700 block cursor-pointer line-height-3 mb-2">FAQ</a>
                    <a class="text-700 block cursor-pointer line-height-3">Blog</a>
                </div>
                <div class="col-12 md:col-3">
                    <div class="text-700 line-height-3 mb-3">Join our community to get weekly updates and unique gifts every friday.</div>
                    <input pinputtext="" placeholder="Enter your email" class="p-inputtext p-component p-element border-round border-400 p-3 mb-3 w-full">
                    <button pbutton="" pripple="" label="Join" class="p-element p-ripple px-5 py-3 p-button p-component"><span class="p-button-label">Join</span><span class="p-ink"></span></button>
                </div>
            </div>
            <div class="flex flex-wrap align-items-center justify-content-between mt-6">
                <div class="flex align-items-center justify-content-start md:mb-0 mb-3">
                    <img src="assets/images/blocks/logos/alfred-700.svg" alt="Image">
                </div>
                <div class="flex align-items-center justify-content-between md:mb-0 mb-3">
                    <a class="text-700 cursor-pointer md:ml-5 ml-2">Brand Policy</a>
                    <a class="text-700 cursor-pointer md:ml-5 ml-2">Privacy Policy</a>
                    <a class="text-700 cursor-pointer md:ml-5 ml-2">Terms of Service</a>
                </div>
                <div class="flex align-items-center justify-content-between">
                    <a class="cursor-pointer text-500 md:ml-3 ml-2"><i class="pi pi-twitter text-xl"></i></a>
                    <a class="cursor-pointer text-500 md:ml-3 ml-2"><i class="pi pi-facebook text-xl"></i></a>
                    <a class="cursor-pointer text-500 md:ml-3 ml-2"><i class="pi pi-github text-xl"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-content">
    <div class="ng-star-inserted">
        <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
            <div class="grid pb-6 border-bottom-1 border-300">
                <div class="col-12 md:col-3">
                    <div class="text-900 font-bold line-height-3 mb-3">Company</div>
                    <a class="text-700 block cursor-pointer line-height-3 mb-2">About Us</a>
                    <a class="text-700 block cursor-pointer line-height-3 mb-2">News</a>
                    <a class="text-700 block cursor-pointer line-height-3 mb-2">Investor Relations</a>
                    <a class="text-700 block cursor-pointer line-height-3 mb-2">Careers</a>
                    <a class="text-700 block cursor-pointer line-height-3">Media Kit</a>
                </div>
                <div class="col-12 md:col-3">
                    <div class="text-900 font-bold line-height-3 mb-3">Resourses</div>
                    <a class="text-700 block cursor-pointer line-height-3 mb-2">Get Started</a>
                    <a class="text-700 block cursor-pointer line-height-3 mb-2">Learn</a>
                    <a class="text-700 block cursor-pointer line-height-3">Case Studies</a>
                </div>
                <div class="col-12 md:col-3">
                    <div class="text-900 font-bold line-height-3 mb-3">Community</div>
                    <a class="text-700 block cursor-pointer line-height-3 mb-2">Discord</a>
                    <a class="text-700 block cursor-pointer line-height-3 mb-2">Events</a>
                    <a class="text-700 block cursor-pointer line-height-3 mb-2">FAQ</a>
                    <a class="text-700 block cursor-pointer line-height-3">Blog</a>
                </div>
                <div class="col-12 md:col-3">
                    <div class="text-700 line-height-3 mb-3">Join our community to get weekly updates and unique gifts every friday.</div>
                    <input pinputtext="" placeholder="Enter your email" class="p-inputtext p-component p-element border-round border-400 p-3 mb-3 w-full">
                    <button pbutton="" pripple="" label="Join" class="p-element p-ripple px-5 py-3 p-button p-component"><span class="p-button-label">Join</span><span class="p-ink"></span></button>
                </div>
            </div>
            <div class="flex flex-wrap align-items-center justify-content-between mt-6">
                <div class="flex align-items-center justify-content-start md:mb-0 mb-3">
                    <img src="assets/images/blocks/logos/alfred-700.svg" alt="Image">
                </div>
                <div class="flex align-items-center justify-content-between md:mb-0 mb-3">
                    <a class="text-700 cursor-pointer md:ml-5 ml-2">Brand Policy</a>
                    <a class="text-700 cursor-pointer md:ml-5 ml-2">Privacy Policy</a>
                    <a class="text-700 cursor-pointer md:ml-5 ml-2">Terms of Service</a>
                </div>
                <div class="flex align-items-center justify-content-between">
                    <a class="cursor-pointer text-500 md:ml-3 ml-2"><i class="pi pi-twitter text-xl"></i></a>
                    <a class="cursor-pointer text-500 md:ml-3 ml-2"><i class="pi pi-facebook text-xl"></i></a>
                    <a class="cursor-pointer text-500 md:ml-3 ml-2"><i class="pi pi-github text-xl"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="width: 100%; height: 100%; overflow: auto">
    <div *ngIf="isBannerVisible" class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
        <div class="font-bold mr-8">🔥 Service Manager!</div>
        <div class="align-items-center hidden lg:flex">
            <span class="line-height-3">The first services and jobs referencing site.</span>
        </div>
        <a class="flex align-items-center ml-2 mr-8 text-white underline font-bold" (click)="scrollTo('home')" style="cursor: pointer;">
            Learn More
        </a>
        <a pRipple class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150" style="width:2rem; height: 2rem" (click)="closeBanner()">
            <i class="pi pi-times"></i>
        </a>
    </div>

    <p-scrollTop icon="pi pi-arrow-up"></p-scrollTop>

    <body class="landing-body">
        <div class="landing-wrapper">
            <div id="header" style="position: relative;" [ngStyle]="{'background-color': homePageContent?.hexaCouleurTheme || defaultColor}">
                <div class="image" [style.background-image]="loading ? 'url(\'../../../assets/layout/images/landing/contacts2.png\')' : 'url(' + homePageContent?.bannerImageUrl + ')'"
                     style="background-size: cover; background-position: center; height: 550px;">
                    <div class="header-top">
                        <div class="px-8 py-4 md:px-6 lg:px-8 text-center" >
                            <div class="px-8 md:px-8" >
                                <div class="col-12" style="color: #fff; text-align: center;font-weight: bold;">
                                    <p-menubar [model]="menuItems" styleClass="centered-menu" [style]="{ 'width': 'fit-content', 'display': 'flex', 'justify-content': 'center', 'border-radius': '10px', 'text-align': 'center', 'color': '#fff' }">
                                        <ng-template pTemplate="start">
                                            <!-- Utilisation de la liaison de données pour l'attribut src -->
                                            <img [src]="loading ? '../../../assets/layout/images/logo-manhattan.png' : (homePageContent?.logoUrl || '../../../assets/layout/images/logo-manhattan.png')" height="40" class="mr-2" />
                                        </ng-template>
                                    </p-menubar>
                                </div>
                            </div>
                        </div>
                        <div class="header-content animation-element slide-bottom">
                            <div style="line-height: 1.5;color: #000000;font-size: xx-large; font-weight: bolder;">Welcome To <span
                                class="tw"></span>
                            </div>
                            <div class="py-6 text-center" style="line-height: 1.5;color: #000000;" data-aos="fade-up" data-aos-duration="3000">
                                <h3>{{ loading ? 'The first services and jobs referencing site.' : homePageContent?.bannerTitle }}</h3>
                                <h6>{{ loading ? 'For services managements.' : homePageContent?.bannerDescription }}</h6>
                            </div>
                            <div class="py-4 text-center">
                                <button pButton pRipple data-aos="fade-up" style="line-height: 1.5;color: #ffffff;"
                                        data-aos-duration="3500" type="button" label="Learn More"
                                        class="p-button-rounded p-button-primary mr-2 mb-2" (click)="scrollTo('home')"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="home" class="surface-section px-4 py-6 md:px-6 lg:px-8 text-center" style="background-color: #0066ba26 !important;">
                <div class="mb-3 font-bold text-2xl">
                    <span class="text-900">What do </span>
                    <span class="text-blue-600">Service Manager ?</span>
                </div>
                <div class="text-700 text-sm mb-6">Everything you need to find the service you need.</div>
                <div *ngIf="loading" [innerHTML]="generateSeleton('HOME')"></div>
                <div *ngIf="!loading">
                    <div class="grid">
                        <div *ngFor="let section of sections">
                            <div *ngIf="isSectionEnabled(section)">
                                <div class="col-12 md:col-4 md:mb-4 mb-0 px-3" data-aos="fade-up" data-aos-duration="3000">
                                    <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                                        <i class="{{ this.getSectionIcon(section) }} text-4xl text-blue-500"></i>
                                    </span>
                                    <div class="text-900 mb-3 font-medium">{{ section.label }}</div>
                                    <span class="text-700 text-sm line-height-3">{{ section.description }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="loading" [innerHTML]="generateSeleton('ALL')"></div>
            <div *ngIf="!loading">
                <div *ngFor="let section of sections; let i = index">
                    <div *ngIf="isSectionEnabled(section)" id="{{ section.key }}" class="surface-section px-4 py-6 md:px-6 lg:px-8 text-center"
                         [ngStyle]="{'background-color': getColorByIndex(i)}" [innerHTML]="generateSectionContent(section)">
                    </div>
                </div>
                <div *ngIf="sections && sections.length === 0" [innerHTML]="generateSeleton('ALL')"></div>
            </div>

            <div id="footer" [ngStyle]="{'background-color': homePageContent?.hexaCouleurTheme || defaultColor}">
                <div class="p-grid">
                    <div class="col-12 md:col-12 lg:col-12 footer" style="text-align: center;">
                        <img [src]="loading ? '../../../assets/layout/images/logo-white.png' : (homePageContent?.logoUrl || '../../../assets/layout/images/logo-white.png')" height="40" class="mr-2" />
                    </div>
                    <div class="px-4 md:px-6 lg:px-8">
                        <div class="text-700 text-center">
                            <div class="text-white font-bold mb-3"><i class="pi pi-discord"></i>&nbsp;{{ loading ? 'For services managements.' : homePageContent?.name }}</div>
                            <div class="textfooter font-bold text-5xl mb-3">{{ loading ? 'Join Service Manager Community.' : homePageContent?.footerTitle }}</div>
                            <div class="text-white text-2xl mb-5">{{ loading ? 'The first services and jobs referencing site.' : homePageContent?.footerDescription }}</div>
                            <button pButton pRipple label="Join Now" icon="pi pi-discord" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
                        </div>
                    </div>
                </div>
                <div class="col-12 py-6" style="color: #fff; text-align: center;font-weight: bold;">
                    Copyright © {{currentDate | date:'yyyy'}} by <a href="https://github.com/DexDevNL2023">Dexter Nlang</a>
                </div>
            </div>
        </div>

        <script>
            EcuadorLanding = {
                addClass: function (element, className) {
                    if (element.classList)
                        element.classList.add(className);
                    else
                        element.className += ' ' + className;
                },

                removeClass: function (element, className) {
                    if (element.classList)
                        element.classList.remove(className);
                    else
                        element.className = element.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
                },

                hasClass: function (element, className) {
                    if (element.classList)
                        return element.classList.contains(className);
                    else
                        return new RegExp('(^| )' + className + '( |$)', 'gi').test(element.className);
                },

                hideMenu: function () {
                    this.removeClass(document.getElementById('landing-menu'), 'landing-menu-active');
                },

                showMenu: function () {
                    this.addClass(document.getElementById('landing-menu'), 'landing-menu-active');
                }
            };

            document.getElementById('menu-btn').addEventListener('click', function (e) {
                var menu = document.getElementById('landing-menu');

                if (EcuadorLanding.hasClass(menu, 'landing-menu-active'))
                    EcuadorLanding.hideMenu();
                else
                    EcuadorLanding.showMenu();

                e.preventDefault();
            });

            var menuLinks = document.querySelectorAll('#landing-menu a');
            for (i = 0; i < menuLinks.length; i++) {
                menuLinks[i].addEventListener('click', function (e) {
                    EcuadorLanding.hideMenu();
                });
            }
        </script>
    </body>
</div>
