
.white-text {
    color: white !important;
}

.custom-menu {
    background-color: #333;
    color: #fff;
}

.custom-menu-item {
    color: #fff;
}

.custom-menubar .p-menuitem-link {
    color: white !important;
}

.bg-gray-900 .p-menuitem-link,
.bg-gray-900 .p-toolbar-group-end button {
    color: white !important;
}

.centered-menu {
    display: flex;
    justify-content: center;
    width: fit-content;
    border-radius: 10px;
}
