<div class="layout-wrapper" [ngClass]="{'layout-horizontal': app.menuMode === 'horizontal',
                                        'layout-static': app.menuMode === 'static',
                                        'layout-slim': app.menuMode === 'slim',
                                        'layout-slim-active': slimMenuActive && app.menuMode === 'slim',
                                        'layout-slim-anchored': slimMenuAnchor,
                                        'layout-slim-restore': (app.menuMode !== 'slim' && slimMenuAnchor),
                                        'layout-toggle': app.menuMode === 'toggle',
                                        'layout-toggle-active': toggleMenuActive,
                                        'layout-overlay': app.menuMode === 'overlay',
                                        'layout-overlay-active': overlayMenuActive,
                                        'layout-light': app.lightMenu === true,
                                        'layout-mobile-active': staticMenuMobileActive,
                                        'layout-static-inactive': staticMenuDesktopInactive,
                                        'p-input-filled': app.inputStyle === 'filled', 'p-ripple-disabled': !app.ripple}" (click)="onLayoutClick()">

    <!-- Landing page activée -->
    <div *ngIf="isLandingPageActive">
        <div class="layout-content">

            <!DOCTYPE html>
            <html>

            <head>
                <script>document.write('<base href="' + document.location + '" />');</script>
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
                <meta name="apple-mobile-web-app-capable" content="yes" />
                <title>Service Manager App</title>

            </head>
                <body class="landing-body">
                    <router-outlet></router-outlet>
                </body>
            </html>

        </div>
    </div>

    <!-- Landing page désactivée -->
    <div *ngIf="!isLandingPageActive">
        <div class="layout-main">
            <app-topbar></app-topbar>

            <div class="layout-content">
                <router-outlet></router-outlet>
            </div>

            <app-footer></app-footer>

            <div class="layout-main-mask"></div>
        </div>

        <app-config></app-config>

        <app-menu></app-menu>
    </div>
</div>
