<div class="login-body" style="background: url('../../../assets/layout/images/landing/bg2.jpg') no-repeat; background-size: cover;">
    <div class="block-content flex justify-content-center">
        <div class="ng-star-inserted grid grid-nogutter">
            <div class="px-4 py-8 md:px-6 lg:px-8">
                <div class="flex flex-wrap">
                    <div class="w-full lg:w-6 px-0 py-4 lg:p-7 bg-blue-50">
                        <img [src]="pageContent?.logoUrl" alt="Image" height="35" class="mb-6">
                        <p-carousel indicatorstyleclass="hover:bg-primary-500" class="p-element" [value]="items" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="2000">
                            <ng-template let-item pTemplate="carousel">
                                <div class="p-carousel-item ng-star-inserted">
                                    <div class="text-center mb-8 ng-star-inserted">
                                        <img alt="Image" class="mb-6 w-6" [src]="item.imageUrl">
                                        <div class="mx-auto font-medium text-xl mb-4 text-blue-900">
                                            {{ item.title }}
                                        </div>
                                        <p class="m-0 text-blue-700 line-height-3">
                                            {{ item.description }}
                                        </p>
                                    </div>
                                </div>
                            </ng-template>
                        </p-carousel>
                    </div>
                    <div class="w-full lg:w-6 p-4 lg:p-7 surface-card">
                        <div class="flex align-items-center justify-content-between mb-7">
                            <span class="text-2xl font-medium text-900">Create account to {{ pageContent?.name }}</span>
                            <button pButton label="Sign in" class="p-button-text mt-2" (click)="navigateToLogin()"></button>
                        </div>
                        <div class="flex justify-content-between">
                            <button class="p-ripple p-element mr-2 w-6 font-medium border-1 surface-border surface-100 py-3 px-2 p-component hover:surface-200 active:surface-300 text-900 cursor-pointer transition-colors transition-duration-150 inline-flex align-items-center justify-content-center">
                                <i class="pi pi-facebook text-indigo-500 mr-2"></i>
                                <span>Register With Facebook</span>
                                <span class="p-ink"></span>
                            </button>
                            <button class="p-ripple p-element ml-2 w-6 font-medium border-1 surface-border surface-100 py-3 px-2 p-component hover:surface-200 active:surface-300 text-900 cursor-pointer transition-colors transition-duration-150 inline-flex align-items-center justify-content-center">
                                <i class="pi pi-google text-red-500 mr-2"></i><span>Register With Google</span>
                                <span class="p-ink"></span>
                            </button>
                        </div>
                        <p-divider align="center" styleclass="my-4" class="p-element">
                            <div role="separator"
                                 class="my-4 p-divider p-component p-divider-horizontal p-divider-solid p-divider-center">
                                <div class="p-divider-content"><span class="text-600 font-normal text-sm">OR</span>
                                </div>
                            </div>
                        </p-divider>
                        <label for="name" class="block text-900 font-medium mb-2">Full Name</label>
                        <input id="name" type="text" placeholder="Full Name" class="p-inputtext p-component p-element w-full mb-3 p-3">
                        <label for="email" class="block text-900 font-medium mb-2">Email address</label>
                        <input id="email" type="email" placeholder="Email address" class="p-inputtext p-component p-element w-full mb-3 p-3">
                        <button label="Sign In" class="p-element p-ripple w-full py-3 font-medium p-button p-component">
                            <span class="p-button-label">Register</span><span class="p-ink"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
