<!DOCTYPE html>
<html>

  <head>
      <script>document.write('<base href="' + document.location + '" />');</script>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <title>PrimeNG - Manhattan - Landing Page</title>

      <!-- PrimeNG styles -->
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/primeng@16.0.2/resources/primeng.min.css" />

      <!-- PrimeIcons -->
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/primeicons@6.0.1/primeicons.css" />

      <!-- PrimeFlex (optional, if you are using it) -->
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/primeflex@^3.3.1/primeflex.min.css" />

      <!-- Your custom styles or additional stylesheets -->

  </head>

  <body class="ng-star-inserted">
      <div *ngIf="isBannerVisible" class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center">
          <div class="font-bold mr-8">🔥 Service Manager!</div>
          <div class="align-items-center hidden lg:flex">
              <span class="line-height-3">The first services and jobs referencing site.</span>
          </div>
          <a class="flex align-items-center ml-2 mr-8 text-white underline font-bold" (click)="scrollTo('home')" style="cursor: pointer;">
              Learn More
          </a>
          <a pRipple class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150" style="width:2rem; height: 2rem" (click)="closeBanner()">
              <i class="pi pi-times"></i>
          </a>
      </div>

      <p-scrollTop icon="pi pi-arrow-up"></p-scrollTop>

      <div id="header" style="position: relative;" [ngStyle]="{'background-color': pageContent?.hexaCouleurTheme}">
          <div id="navbar" class="bg-gray-900 py-3 px-6 shadow-2 flex align-items-center justify-content-between relative">
              <img [src]="pageContent?.logoUrl" alt="logo" height="20">
              <a pstyleclass="@next" enterclass="hidden" leavetoclass="hidden" class="p-element cursor-pointer block lg:hidden text-gray-400">
                  <i class="pi pi-bars text-4xl"></i>
              </a>
              <div class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full bg-gray-900 left-0 top-100 px-6 lg:px-0 shadow-2 lg:shadow-none z-2">
                  <section></section>
                  <div class="flex justify-content-center items-center">
                      <ul *ngFor="let section of sections" class="list-none p-0 m-0 flex lg:align-items-center text-gray-400 select-none flex-column lg:flex-row cursor-pointer">
                          <li (click)="scrollTo(section?.key)" class="flex items-center">
                              <div *ngIf="isSectionEnabled(section)">
                                  <a class="p-ripple p-element flex px-0 lg:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150">
                                      <span class="block font-normal text-xl text-white">{{ section?.label }}</span>
                                      <span class="p-ink" style="height: 135px; width: 135px; top: -52.6094px; left: -16.5px;"></span>
                                  </a>
                                  <!-- Utilisez la variable selectedSection pour construire le dropdown -->
                                  <div *ngIf="section?.submenu?.length" class="lg:absolute bg-gray-800 origin-top left-0 top-100 w-full">
                                      <div *ngIf="dropdownVisible && selectedSection === section" class="flex flex-wrap p-6">
                                          <div class="w-full lg:w-6 mb-4 lg:mb-0">
                                              <span class="block font-normal text-2xl mb-4 text-white">{{ selectedSection?.label }}</span>
                                              <p class="line-height-3 m-0 text-gray-400">{{ selectedSection?.description }}</p>
                                          </div>
                                          <div class="w-full lg:w-6">
                                              <div *ngFor="let submenuItem of selectedSection?.submenu" class="flex flex-wrap border-bottom-1 border-gray-700 pb-3 mb-3">
                                                  <div *ngIf="isSectionSubMenuEnabled(submenuItem)">
                                                      <div class="px-0 lg:px-3 py-3">
                                                          <span class="text-white">{{ submenuItem.label }}</span>
                                                          <p class="text-sm text-gray-400 mt-2 mb-0 line-height-3">{{ submenuItem.description }}</p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <!-- Ajouter un icône chevron vers le bas s'il y a un submenu -->
                          <span *ngIf="section?.submenu?.length" class="cursor-pointer ml-auto" (click)="toggleDropdown(section)">
                              <i class="pi pi-chevron-down"></i>
                          </span>
                      </ul>
                  </div>

                  <div class="flex justify-content-between lg:block border-top-1 lg:border-top-none border-gray-800 py-3 lg:py-0 mt-3 lg:mt-0">
                      <button label="Login" class="p-element p-ripple p-button-text font-bold p-button p-component" (click)="navigateToLogin()">
                          <span class="p-button-label">Login</span>
                          <span class="p-ink"></span>
                      </button>
                      <button label="Register" class="p-element p-ripple ml-3 font-bold p-button p-component" (click)="navigateToRegister()">
                          <span class="p-button-label">Register</span>
                          <span class="p-ink"></span>
                      </button>
                  </div>
              </div>
          </div>

          <div id="banner" class="bg-gray-900 px-4 py-8 md:px-6 lg:px-8">
              <div class="flex flex-wrap">
                  <div class="w-12 lg:w-6 p-4">
                      <h1 class="text-6xl font-bold text-white mt-0 mb-3">{{ pageContent?.name }}</h1>
                      <p class="text-3xl text-gray-400 mt-0 mb-5">{{ pageContent?.bannerTitle }}</p>
                      <ul *ngIf="pageContent?.bannerDescription" class="list-none p-0 m-0">
                          <li *ngFor="let segment of pageContent.bannerDescription.split(',')" class="mb-3 flex align-items-center">
                              <i [ngStyle]="{'color': pageContent?.hexaCouleurTheme }" class="pi pi-caret-right text-yellow-500 text-xl mr-2"></i>
                              <span [ngStyle]="{'color': pageContent?.hexaCouleurTheme }" class="text-gray-400 line-height-3">{{ segment.trim() }}</span>
                          </li>
                      </ul>
                  </div>
                  <div class="w-12 lg:w-6 text-center lg:text-right overflow-hidden">
                      <img [src]="pageContent?.bannerImageUrl" alt="banner" class="w-full lg:w-auto">
                  </div>
              </div>
          </div>
      </div>

      <div id="body" *ngFor="let section of sections">
          <div *ngIf="showSection(section?.key) && section?.key === 'homes'" id="{{ section?.key }}" class="surface-ground px-4 py-8 md:px-6 lg:px-8 text-center">
              <div class="font-bold text-900 text-3xl mb-3 text-center" [innerHTML]="generateLabelHtml(pageContent?.name)"></div>
              <div class="text-700 text-center mb-5 line-height-3">
                  {{ pageContent?.description }}
              </div>

              <div class="grid">
                  <div *ngFor="let home of homes" class="col-12 md:col-4 mb-4 px-5">
                      <div *ngIf="isHomeSectionEnabled(home)">
                      <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
                          <i [class]="home?.icon + ' text-4xl text-blue-500'"></i>
                      </span>
                          <div class="text-900 text-xl mb-3 font-medium">{{ home?.title }}</div>
                          <span class="text-700 line-height-3">{{ home?.description }}</span>
                      </div>
                  </div>
              </div>

              <div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
                  <div class="flex flex-wrap relative overflow-hidden" style="border-radius: 1rem; background: radial-gradient(100% 1126.49% at 100% 0%, rgba(106, 200, 212, 0.4) 0%, rgba(33, 33, 33, 0) 100%), #212121;">
                      <div class="px-6 py-8"><span class="uppercase text-cyan-500 font-bold">BE THE FIRST ONE</span>
                          <div class="text-white text-medium text-5xl mt-3 mb-5">Join {{ pageContent?.name }}</div>
                          <button class="p-ripple p-element p-3 bg-cyan-500 hover:bg-cyan-300 cursor-pointer transition-colors font-medium gray-900 border-none p-component transition-duration-150" style="border-radius: 35px;" (click)="navigateToLogin()">
                              Get Started
                              <span class="p-ink"></span>
                          </button>
                      </div>
                      <img src="assets/layout/images/landing/contacts2.png" alt="Image" class="static lg:absolute block mx-auto" style="height: 400px; top: -2rem; right: -1rem;">
                  </div>
              </div>
          </div>

          <div *ngIf="showSection(section?.key) && section?.key === 'abouts'" id="{{ section?.key }}" class="surface-section px-4 py-8 md:px-6 lg:px-8 overflow-hidden">
              <div class="font-bold text-900 text-3xl mb-3 text-center" [innerHTML]="generateLabelHtml(section?.label)"></div>
              <div class="text-700 text-center mb-5 line-height-3">
                  {{section?.description}}
              </div>

              <div *ngFor="let about of abouts; let i = index">
                  <div *ngIf="isAboutSectionEnabled(about)">
                      <div *ngIf="isEven(i)" class="flex lg:justify-content-center mb-5">
                          <div class="py-3 pr-8 pl-3 w-30rem hidden lg:block">
                              <img [src]="about?.image" alt="Image" class="w-full mr-8">
                          </div>
                          <div class="flex flex-column align-items-center w-2rem">
                              <span class="bg-blue-500 text-0 flex align-items-center justify-content-center border-circle" style="min-width: 2.5rem; min-height: 2.5rem;">
                                  <i [class]="about?.icon + ' text-xl text-white'"></i>
                              </span>
                              <div class="h-full bg-blue-500" style="width: 2px; min-height: 4rem;"></div>
                          </div>
                          <div class="py-3 pl-5 lg:pl-8 pl-3 lg:w-30rem">
                              <div class="text-900 text-xl mb-2 font-medium">{{ about?.title }}</div>
                              <span class="block text-700 line-height-3 mb-3">
                              {{ about?.description }}
                          </span>
                              <img [src]="about?.image" alt="Image" class="w-full mt-3 block lg:hidden">
                          </div>
                      </div>

                      <div *ngIf="!isEven(i)" class="flex justify-content-center mb-5">
                          <div class="py-3 pl-5 pr-3 lg:pr-8 lg:pl-3 lg:w-30rem flex-order-1 lg:flex-order-0">
                              <div class="text-900 text-xl mb-2 font-medium">{{ about?.title }}</div>
                              <span class="block text-700 line-height-3 mb-3">
                              {{ about?.description }}
                          </span>
                              <img [src]="about?.image" alt="Image" class="w-full mt-3 block lg:hidden"></div>
                          <div class="flex flex-column align-items-center w-2rem flex-order-0 lg:flex-order-1">
                              <span class="bg-yellow-500 text-0 flex align-items-center justify-content-center border-circle" style="min-width: 2.5rem; min-height: 2.5rem;">
                                  <i [class]="about?.icon + ' text-xl text-white'"></i>
                              </span>
                              <div class="h-full bg-yellow-500" style="width: 2px; min-height: 4rem;"></div>
                          </div>
                          <div class="py-3 pl-8 pr-3 w-30rem hidden lg:block flex-order-2">
                              <img [src]="about?.image" alt="Image" class="w-full mr-8">
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div *ngIf="showSection(section?.key) && section?.key === 'careers'" id="{{ section?.key }}" class="surface-ground px-4 py-8 md:px-6 lg:px-8 text-center">
              <div class="font-bold text-900 text-3xl mb-3 text-center" [innerHTML]="generateLabelHtml(section?.label)"></div>
              <div class="text-700 text-center mb-5 line-height-3">
                  {{section?.description}}
              </div>

              <p-carousel [value]="careers" [numVisible]="4" [numScroll]="1" [circular]="true" [autoplayInterval]="6000">
                  <ng-template let-career pTemplate="item">
                      <div *ngIf="isCareerSectionEnabled(career)" class="w-full p-5">
                          <div class="shadow-2 border-round h-full surface-card">
                              <img *ngIf="career?.partenaire?.logo" [src]="career?.partenaire?.logo" alt="Image" class="block w-full border-round-top">
                              <div class="p-4">
                                  <span [ngStyle]="{'color': pageContent?.hexaCouleurTheme }" class="block font-medium text-orange-600 mb-3">{{ career?.partenaire?.name }}</span>
                                  <div class="text-xl text-900 font-medium mb-3 line-height-3">
                                      {{ career?.job | uppercase }}
                                      <h6 [ngStyle]="{'color': pageContent?.hexaCouleurTheme }" class="text-center mb-5 line-height-3">{{ getCareerTypeLabelHtml(career?.type) }}</h6>
                                  </div>
                                  <div class="flex">
                                      <div class="grid grid-nogutter">
                                          <div class="col-12 md:col-6">
                                              <div class="text-sm font-bold text-900 mb-1">Deadline</div>
                                              <div class="text-sm flex align-items-center text-700">
                                                  <i class="pi pi-calendar mr-1 text-sm"></i>
                                                  <p-tag [value]="career?.dateLimite + ' at ' + career?.heureLimite" [severity]="getSeverityHtml(career?.dateLimite, career?.heureLimite)"></p-tag>
                                              </div>
                                          </div>
                                          <div class="col-12 md:col-6 px-6 py-2">
                                              <button pButton label="Explore" class="p-button-text ml-auto" (click)="viewDetails(career?.id, section.type)"></button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </ng-template>
              </p-carousel>

              <div class="flex justify-content-center items-center">
                  <button pButton type="button" (click)="openSearchCareers()" class="text-white font-medium flex align-items-center mt-2">
                      <span>View More</span>
                      <i class="pi pi-arrow-right ml-3"></i>
                  </button>
              </div>
          </div>

          <div *ngIf="showSection(section?.key) && section?.key === 'offers'" id="{{ section?.key }}" class="surface-section px-4 py-8 md:px-6 lg:px-8 overflow-hidden">
              <div class="font-bold text-900 text-3xl mb-3 text-center" [innerHTML]="generateLabelHtml(section?.label)"></div>
              <div class="text-700 text-center mb-5 line-height-3">
                  {{section?.description}}
              </div>

              <p-carousel [value]="offers" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="6000" (onPage)="onCarouselPageChange($event)">
                  <ng-template let-offer pTemplate="carousel">
                      <div *ngIf="isOfferSectionEnabled(offer)" class="flex flex-column md:flex-row mt-6">
                          <div class="mb-6 md:mb-0 mr-0 md:mr-4 flex flex-column flex-grow-1">
                              <div class="bg-bluegray-100 text-center p-3" style="border-radius: 6px 6px 0 0;">
                                  <div class="text-2xl font-bold text-bluegray-900 mb-3">{{ offer?.name }}</div>
                                  <div class="flex align-items-center justify-content-center">
                                      <span class="font-bold text-bluegray-900 text-5xl mr-2">{{ offer?.price }}</span>
                                      <span class="text-2xl text-bluegray-400"> / {{ offer?.period }}</span>
                                  </div>
                              </div>
                              <div class="bg-bluegray-50 p-4 flex flex-column flex-grow-1" style="box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1); border-radius: 0 0 6px 6px;">
                                  <div class="text-bluegray-500 font-bold line-height-3 mb-4">
                                      {{ truncateDescription(offer?.description) }}
                                  </div>
                                  <ul class="list-none p-0 m-0 mb-5 text-bluegray-600">
                                      <li *ngFor="let feature of offer?.features" class="flex align-items-center mb-3">
                                          <i class="pi pi-circle-on mr-2 text-sm"></i>
                                          <span>{{ feature }}</span>
                                      </li>
                                  </ul>
                                  <button (click)="viewDetails(offer?.id, section.type)" class="p-element p-ripple p-button-secondary w-full mt-auto p-button p-component">
                                      <span class="p-button-label">{{ offer?.subscriptionMessage }}</span>
                                      <span class="p-ink"></span>
                                  </button>
                              </div>
                          </div>
                      </div>
                  </ng-template>
              </p-carousel>

              <div class="flex justify-content-center items-center">
                  <button pButton type="button" (click)="openSearchOffers()" class="text-white font-medium flex align-items-center mt-2">
                      <span>View More</span>
                      <i class="pi pi-arrow-right ml-3"></i>
                  </button>
              </div>
          </div>

          <div *ngIf="showSection(section.key) && section.key === 'partners'" id="{{ section.key }}" class="surface-ground px-4 py-8 md:px-6 lg:px-8 text-center">
              <div class="font-bold text-900 text-3xl mb-3 text-center" [innerHTML]="generateLabelHtml(section?.label)"></div>
              <div class="text-700 text-center mb-5 line-height-3">
                  {{section?.description}}
              </div>

              <p-carousel [value]="partners" [numVisible]="3" [numScroll]="3" [circular]="true" [autoplayInterval]="3000">
                  <ng-template let-partner pTemplate="carousel">
                      <div class="px-4 py-8 md:px-6 lg:px-8">
                          <div *ngIf="isPartnerSectionEnabled(partner)" class="flex justify-content-evenly flex-wrap">
                              <p-image [src]="partner?.logo" [preview]="true" alt="Image" width="100">
                                  <ng-template pTemplate="indicator">
                                      <div class="p-3">
                                          <div class="text-900 text-2xl mb-3 font-medium">{{ partner?.name }}</div>
                                          <ng-container *ngIf="partner?.siteWeb">
                                              <p-tag [value]="partner?.siteWeb" severity="secondary"></p-tag>
                                          </ng-container>
                                          <ng-container *ngIf="!partner?.siteWeb">
                                              <ng-container *ngIf="partner?.contact">
                                                  <p-tag [value]="partner?.contact" severity="secondary"></p-tag>
                                              </ng-container>
                                          </ng-container>
                                          <button pButton label="Read more" class="p-button-text" (click)="viewDetails(partner?.id, section.type)"></button>
                                      </div>
                                  </ng-template>
                              </p-image>
                          </div>
                      </div>
                  </ng-template>
              </p-carousel>
          </div>

          <div *ngIf="showSection(section.key) && section.key === 'contacts'" id="{{ section.key }}" class="surface-section">
              <div class="grid grid-nogutter">
                  <div class="col-12 md:col-6 bg-no-repeat bg-cover p-8" style="background-image: url('assets/layout/images/landing/ContactUs.png');">
                      <div class="text-white text-2xl font-medium mb-6" [innerHTML]="generateLabelHtml(section?.label)"></div>
                      <div class="line-height-3 mb-6" [ngStyle]="{'color': pageContent?.hexaCouleurTheme }">
                          {{section?.description}}
                      </div>
                      <ul class="list-none p-0 m-0 mt-6 text-white">
                          <li *ngFor="let contact of contacts" class="flex align-items-center mb-3" (click)="getContactAction(contact.value, contact.type)">
                              <div *ngIf="isContactSectionEnabled(contact)">
                                  <i [ngStyle]="{'color': pageContent?.hexaCouleurTheme }" class="pi {{ getContactIcon(contact.type) }} mr-2"></i>
                                  <span [ngStyle]="{'color': pageContent?.hexaCouleurTheme }">{{ contact.value }}</span>
                              </div>
                          </li>
                      </ul>
                  </div>

                  <div class="col-12 md:col-6">
                      <div class="p-fluid formgrid grid px-4 py-8 md:px-6 lg:px-8">
                          <div class="field col-12 lg:col-6 mb-4">
                              <input id="firstname" type="text" placeholder="Prénom" class="p-inputtext p-component p-element py-3 px-2 text-lg" [ngStyle]="{'border-color': pageContent?.hexaCouleurTheme }" [(ngModel)]="firstName" required>
                          </div>
                          <div class="field col-12 lg:col-6 mb-4">
                              <input id="lastname" type="text" placeholder="Nom" class="p-inputtext p-component p-element py-3 px-2 text-lg" [ngStyle]="{'border-color': pageContent?.hexaCouleurTheme }" [(ngModel)]="lastName" required>
                          </div>
                          <div class="field col-12 mb-4">
                              <input id="email" type="text" placeholder="Email" class="p-inputtext p-component p-element py-3 px-2 text-lg" [ngStyle]="{'border-color': pageContent?.hexaCouleurTheme }" [(ngModel)]="email" required>
                          </div>
                          <div class="field col-12 mb-4">
                              <input id="phone" type="text" placeholder="Téléphone" class="p-inputtext p-component p-element py-3 px-2 text-lg" [ngStyle]="{'border-color': pageContent?.hexaCouleurTheme }" [(ngModel)]="phone" required>
                          </div>
                          <div class="field col-12 mb-4">
                              <textarea id="message" rows="3" placeholder="Message" class="p-inputtextarea p-inputtext p-component p-element py-3 px-2 text-lg p-inputtextarea-resizable" style="height: 95px; overflow: hidden;" [ngStyle]="{'border-color': pageContent?.hexaCouleurTheme }" [(ngModel)]="messageText" required></textarea>
                          </div>
                          <div class="col-12 text-right">
                              <button type="button" label="Submit" icon="pi pi-envelope" class="p-element p-ripple px-5 py-3 w-auto p-button p-component" [ngStyle]="{'background-color': pageContent?.hexaCouleurTheme }" (click)="sendMessage()">
                                  <span class="p-button-icon p-button-icon-left pi pi-envelope" aria-hidden="true"></span>
                                  <span class="p-button-label">Submit</span>
                                  <span class="p-ink"></span>
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div id="footer" class="surface-section px-4 py-8 md:px-6 lg:px-8" [ngStyle]="{'background-color': pageContent?.hexaCouleurTheme }">
          <div class="flex align-items-start lg:align-items-center lg:justify-content-between pb-5 border-bottom-1 border-300 flex-column lg:flex-row">
              <div class="pr-0 lg:pr-8">
                  <img [src]="pageContent?.logoUrl" alt="logo" height="30">
                  <div class="text-gray-300 font-bold text-5xl py-2">{{ pageContent?.footerTitle }}</div>
                  <p class="text-600 line-height-3 text-xl mb-0 mt-5">{{ pageContent?.footerDescription }}</p>
              </div>
              <button label="Get Started" class="p-element p-ripple mt-5 lg:mt-0 white-space-nowrap min-w-max p-button p-component" [ngStyle]="{'background-color': pageContent?.hexaCouleurTheme }" (click)="navigateToLogin()">
                  <span class="p-button-label">Get Started</span>
                  <span class="p-ink"></span>
              </button>
          </div>

          <div class="py-5 border-bottom-1 border-300">
              <div class="grid">
                  <div *ngFor="let section of sections" class="col-12 sm:col-6 md:col-4 lg:col-2">
                      <ng-container *ngIf="section.submenu && section.submenu.length > 0; else noSubmenu">
                          <span class="text-900 block font-bold line-height-3 mb-3">{{ section.label }}</span>
                          <ul class="list-none p-0 m-0">
                              <li *ngFor="let submenuItem of section.submenu" class="mb-2" (click)="scrollTo(section.key)">
                                  <i [ngStyle]="{'color': pageContent?.hexaCouleurTheme }" class="pi pi-caret-right text-yellow-500 text-xl mr-2"></i>
                                  <a class="text-white cursor-pointer line-height-3">{{ submenuItem.label }}</a>
                              </li>
                          </ul>
                      </ng-container>
                      <ng-template #noSubmenu>
                          <span class="text-900 block font-bold line-height-3 mb-3">{{ section.label }}</span>
                          <ul class="list-none p-0 m-0">
                              <li class="mb-2" (click)="scrollTo(section.key)">
                                  <a class="text-white cursor-pointer line-height-3">{{ section.label }}</a>
                              </li>
                          </ul>
                      </ng-template>
                  </div>
              </div>
          </div>

          <div class="flex justify-content-between align-items-center py-5">
              <span>Copyright © {{currentDate | date:'yyyy'}} by <a href="https://github.com/DexDevNL2023">Dexter Nlang</a></span>
              <div class="flex align-items-center justify-content-between">
                  <a *ngFor="let contact of contacts" [ngStyle]="{'color': pageContent?.hexaCouleurTheme }" class="cursor-pointer text-500 md:ml-3 ml-2" (click)="getContactAction(contact.value, contact.type)">
                      <i [ngStyle]="{'color': pageContent?.hexaCouleurTheme }" class="pi {{ getContactIcon(contact.type) }} text-xl"></i>
                  </a>
              </div>
          </div>
      </div>

      <!-- Scripts (make sure to include required PrimeNG and PrimeIcons scripts) -->
      <script src="https://cdn.jsdelivr.net/npm/primeng@16.0.2/resources/primeng.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/primeicons@6.0.1/primeicons.js"></script>
  </body>
</html>
