
<div style="width: 100%; height: 100%; overflow: auto">
    <div *ngIf="isBannerVisible" class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
        <div class="font-bold mr-8">🔥 Service Manager!</div>
        <div class="align-items-center hidden lg:flex">
            <span class="line-height-3">The first services and jobs referencing site.</span>
        </div>
        <a class="flex align-items-center ml-2 mr-8 text-white underline font-bold" (click)="scrollTo('home')" style="cursor: pointer;">
            Learn More
        </a>
        <a pRipple class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150" style="width:2rem; height: 2rem" (click)="closeBanner()">
            <i class="pi pi-times"></i>
        </a>
    </div>

    <p-scrollTop icon="pi pi-arrow-up"></p-scrollTop>

    <body class="landing-body">
        <div class="landing-wrapper">
            <div id="header" style="position: relative;">
                <div class="image" style="background-image: url('../../../assets/layout/images/landing/contacts2.png'); background-size: cover; background-position: center; height: 550px;">
                    <div class="header-top">
                        <div class="px-8 py-8 md:px-6 lg:px-8 text-center" >
                            <div class="px-8 md:px-8" >
                                <div class="col-12" style="color: #fff; text-align: center;font-weight: bold;">
                                    <p-menubar [model]="menuItems" styleClass="centered-menu" [style]="{ 'width': 'fit-content', 'display': 'flex', 'justify-content': 'center', 'border-radius': '10px', 'text-align': 'center', 'color': '#fff' }">
                                        <ng-template pTemplate="start">
                                            <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
                                        </ng-template>
                                    </p-menubar>
                                </div>
                            </div>
                        </div>
                        <div class="header-content animation-element slide-bottom">
                            <div style="line-height: 1.5;color: #000000;font-size: xx-large; font-weight: bolder;">Welcome To <span
                                class="tw"></span></div>

                            <h2 style="line-height: 1.5;color: #000000;" data-aos="fade-up" data-aos-duration="3000">For services managements.</h2>
                            <div>
                                <button pButton pRipple data-aos="fade-up" style="line-height: 1.5;color: #ffffff;"
                                        data-aos-duration="3500" type="button" label="Learn More"
                                        class="p-button-rounded p-button-primary mr-2 mb-2" (click)="scrollTo('home')"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="home" class="surface-section px-4 py-6 md:px-6 lg:px-8 text-center" style="background-color: #0066ba26 !important;">
                <div class="mb-3 font-bold text-2xl">
                    <span class="text-900">What do </span>
                    <span class="text-blue-600">Service Manager ?</span>
                </div>
                <div class="text-700 text-sm mb-6">Everything you need to find the service you need.</div>
                <div *ngIf="loading">
                    <div class="grid">
                        <div class="col-12 md:col-4 mb-4 px-5" data-aos="fade-up" data-aos-duration="2300">
                            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                                <i class="pi pi-home text-4xl text-blue-500"></i>
                            </span>
                            <div class="text-900 mb-3 font-medium">Web site Service Manager</div>
                            <span class="text-700 text-sm line-height-3">The first services and jobs referencing site.</span>
                        </div>
                        <div class="col-12 md:col-4 mb-4 px-5" data-aos="fade-up" data-aos-duration="2500">
                            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                                <i class="pi pi-info text-4xl text-blue-500"></i>
                            </span>
                            <div class="text-900 mb-3 font-medium">Abouts</div>
                            <span class="text-700 text-sm line-height-3">We provide you with the best advisors for your success.</span>
                        </div>
                        <div class="col-12 md:col-4 mb-4 px-5" data-aos="fade-up" data-aos-duration="3000">
                            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                                <i class="pi pi-briefcase text-4xl text-blue-500"></i>
                            </span>
                            <div class="text-900 mb-3 font-medium">Careers</div>
                            <span class="text-700 text-sm line-height-3">Find job offers tailored to your professional goals.</span>
                        </div>
                        <div class="col-12 md:col-4 mb-4 px-5" data-aos="fade-up" data-aos-duration="2300">
                            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                                <i class="pi pi-gift text-4xl text-blue-500"></i>
                            </span>
                            <div class="text-900 mb-3 font-medium">Offers</div>
                            <span class="text-700 text-sm line-height-3">Highlight your services using the most popular digital platform.</span>
                        </div>
                        <div class="col-12 md:col-4 mb-4 px-5" data-aos="fade-up" data-aos-duration="2500">
                            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                                <i class="pi pi-users text-4xl text-blue-500"></i>
                            </span>
                            <div class="text-900 mb-3 font-medium">Partners</div>
                            <span class="text-700 text-sm line-height-3">Become partners and benefit.</span>
                        </div>
                        <div class="col-12 md:col-4 md:mb-4 mb-0 px-3" data-aos="fade-up" data-aos-duration="3000">
                            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                                <i class="pi pi-envelope text-4xl text-blue-500"></i>
                            </span>
                            <div class="text-900 mb-3 font-medium">Contacts</div>
                            <span class="text-700 text-sm line-height-3">We are at your service 24h/24 and 7j/7.</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="!loading">
                    <div class="grid">
                        <div *ngFor="let section of sections">
                            <div *ngIf="isSectionEnabled(section)">
                                <div class="col-12 md:col-4 md:mb-4 mb-0 px-3" data-aos="fade-up" data-aos-duration="3000">
                                    <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                                        <i class="{{ this.getSectionIcon(section) }} text-4xl text-blue-500"></i>
                                    </span>
                                    <div class="text-900 mb-3 font-medium">{{ section.label }}</div>
                                    <span class="text-700 text-sm line-height-3">{{ section.description }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="abouts" class="surface-section px-4 py-6 md:px-6 lg:px-8 text-center" >
                <p-divider layout="horizontal" styleClass="hidden md:flex" [align]="'center'">
                    <div class="mb-3 font-bold text-2xl">
                        <span class="text-900">ABO</span>
                        <span class="text-blue-600">UTS</span>
                    </div>
                </p-divider>
                <span class="text-700 text-sm line-height-3">We provide you with the best advisors for your success.</span>
                <div class="border-round border-1 surface-border p-4 surface-card">
                    <div class="flex mb-3">
                        <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                        <div>
                            <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                            <p-skeleton width="5rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                            <p-skeleton height=".5rem" borderRadius="16px"></p-skeleton>
                        </div>
                    </div>
                    <p-skeleton width="100%" height="150px"></p-skeleton>
                    <div class="flex justify-content-between mt-3">
                        <p-skeleton width="4rem" height="2rem" borderRadius="16px"></p-skeleton>
                        <p-skeleton width="4rem" height="2rem" borderRadius="16px"></p-skeleton>
                    </div>
                </div>
            </div>

            <div id="careers" class="surface-section px-4 py-6 md:px-6 lg:px-8 text-center" style="background-color: #0066ba26 !important;" >
                <div class="mb-3 font-bold text-2xl">
                    <span class="text-blue-600">CAR</span>
                    <span class="text-900">EERS</span>
                </div>
                <span class="text-700 text-sm line-height-3">Find job offers tailored to your professional goals.</span>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="10rem" height="4rem"></p-skeleton>

                <p-skeleton styleClass="mb-2" borderRadius="16px"></p-skeleton>
                <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                <p-skeleton width="5rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                <p-skeleton height="2rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                <p-skeleton width="10rem" height="4rem" borderRadius="16px"></p-skeleton>
            </div>

            <div id="offers" class="surface-section px-4 py-6 md:px-6 lg:px-8 text-center" >
                <p-divider layout="horizontal" styleClass="hidden md:flex" [align]="'center'">
                    <div class="mb-3 font-bold text-2xl">
                        <span class="text-900">O</span>
                        <span class="text-blue-600">FFER</span>
                        <span class="text-900">S</span>
                    </div>
                </p-divider>
                <span class="text-700 text-sm line-height-3">Highlight your services using the most popular digital platform.</span>
                <div class="border-round border-1 surface-border p-4 surface-card">
                    <ul class="m-0 p-0 list-none">
                        <li class="mb-3">
                            <div class="flex">
                                <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                                <div style="flex: 1">
                                    <p-skeleton width="100%" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                                    <p-skeleton width="75%" borderRadius="16px"></p-skeleton>
                                </div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="flex">
                                <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                                <div style="flex: 1">
                                    <p-skeleton width="100%" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                                    <p-skeleton width="75%" borderRadius="16px"></p-skeleton>
                                </div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="flex">
                                <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                                <div style="flex: 1">
                                    <p-skeleton width="100%" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                                    <p-skeleton width="75%" borderRadius="16px"></p-skeleton>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="flex">
                                <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                                <div style="flex: 1">
                                    <p-skeleton width="100%" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                                    <p-skeleton width="75%" borderRadius="16px"></p-skeleton>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="partners" class="surface-section px-4 py-6 md:px-6 lg:px-8 text-center" style="background-color: #0066ba26 !important;" >
                <div class="mb-3 font-bold text-2xl">
                    <span class="text-blue-600">PAR</span>
                    <span class="text-900">RTN</span>
                    <span class="text-blue-600">ERS</span>
                </div>
                <span class="text-700 text-sm line-height-3">Become partners and benefit.</span>
                <p-table [value]="defaultSections" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Name</th>
                            <th>Adresses</th>
                            <th>Phone number</th>
                            <th>Web site</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-defaultSection>
                        <tr>
                            <td><p-skeleton borderRadius="16px"></p-skeleton></td>
                            <td><p-skeleton borderRadius="16px"></p-skeleton></td>
                            <td><p-skeleton borderRadius="16px"></p-skeleton></td>
                            <td><p-skeleton borderRadius="16px"></p-skeleton></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div id="contacts" class="surface-section px-4 py-6 md:px-6 lg:px-8 text-center" >
                <p-divider layout="horizontal" styleClass="hidden md:flex" [align]="'center'">
                    <div class="mb-3 font-bold text-2xl">
                        <span class="text-900">CO</span>
                        <span class="text-blue-600">NT</span>
                        <span class="text-900">AC</span>
                        <span class="text-blue-600">TS</span>
                    </div>
                </p-divider>
                <span class="text-700 text-sm line-height-3">We are at your service 24h/24 and 7j/7.</span>
                <div class="col-12 block md:flex center">
                    <p-skeleton shape="circle" size="5rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton shape="circle" size="5rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton shape="circle" size="5rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton shape="circle" size="5rem"></p-skeleton>
                </div>
            </div>

            <div id="footer">
                <div class="p-grid">
                    <div class="col-12 md:col-12 lg:col-12 footer" style="text-align: center;">
                        <img src="../../../assets/layout/images/logo-white.png" width="40" height="40" class="mr-2" />
                    </div>
                    <div class="px-4 md:px-6 lg:px-8">
                        <div class="text-700 text-center">
                            <div class="text-white font-bold mb-3"><i class="pi pi-discord"></i>&nbsp;For services managements.</div>
                            <div class="textfooter font-bold text-5xl mb-3">Join Service Manager Community</div>
                            <div class="text-white text-2xl mb-5">The first services and jobs referencing site.</div>
                            <button pButton pRipple label="Join Now" icon="pi pi-discord" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
                        </div>
                    </div>
                </div>
                <div class="col-12 py-6" style="color: #fff; text-align: center;font-weight: bold;">
                    Copyright © {{currentDate | date:'yyyy'}} by <a href="https://github.com/DexDevNL2023">Dexter Nlang</a>
                </div>
            </div>
        </div>

        <script>
            EcuadorLanding = {
                addClass: function (element, className) {
                    if (element.classList)
                        element.classList.add(className);
                    else
                        element.className += ' ' + className;
                },

                removeClass: function (element, className) {
                    if (element.classList)
                        element.classList.remove(className);
                    else
                        element.className = element.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
                },

                hasClass: function (element, className) {
                    if (element.classList)
                        return element.classList.contains(className);
                    else
                        return new RegExp('(^| )' + className + '( |$)', 'gi').test(element.className);
                },

                hideMenu: function () {
                    this.removeClass(document.getElementById('landing-menu'), 'landing-menu-active');
                },

                showMenu: function () {
                    this.addClass(document.getElementById('landing-menu'), 'landing-menu-active');
                }
            };

            document.getElementById('menu-btn').addEventListener('click', function (e) {
                var menu = document.getElementById('landing-menu');

                if (EcuadorLanding.hasClass(menu, 'landing-menu-active'))
                    EcuadorLanding.hideMenu();
                else
                    EcuadorLanding.showMenu();

                e.preventDefault();
            });

            var menuLinks = document.querySelectorAll('#landing-menu a');
            for (i = 0; i < menuLinks.length; i++) {
                menuLinks[i].addEventListener('click', function (e) {
                    EcuadorLanding.hideMenu();
                });
            }
        </script>
    </body>
</div>
