<!DOCTYPE html>
<html>

  <head>
      <script>document.write('<base href="' + document.location + '" />');</script>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <title>PrimeNG - Manhattan - Landing Page</title>

      <!-- PrimeNG styles -->
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/primeng@16.0.2/resources/primeng.min.css" />

      <!-- PrimeIcons -->
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/primeicons@6.0.1/primeicons.css" />

      <!-- PrimeFlex (optional, if you are using it) -->
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/primeflex@^3.3.1/primeflex.min.css" />

      <!-- Your custom styles or additional stylesheets -->

  </head>

  <body class="ng-star-inserted">
      <div *ngIf="isBannerVisible" class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center">
          <div class="font-bold mr-8">🔥 Service Manager!</div>
          <div class="align-items-center hidden lg:flex">
              <span class="line-height-3">The first services and jobs referencing site.</span>
          </div>
          <a class="flex align-items-center ml-2 mr-8 text-white underline font-bold" (click)="scrollTo('home')" style="cursor: pointer;">
              Learn More
          </a>
          <a pRipple class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150" style="width:2rem; height: 2rem" (click)="closeBanner()">
              <i class="pi pi-times"></i>
          </a>
      </div>

      <p-scrollTop icon="pi pi-arrow-up"></p-scrollTop>

      <div id="header" style="position: relative;" [ngStyle]="{'background-color': homePageContent?.hexaCouleurTheme || defaultColor}">
          <div id="navbar" class="bg-gray-900 py-3 px-6 shadow-2 flex align-items-center justify-content-between relative">
              <img [src]="loading ? '../../../assets/layout/images/logo-manhattan.png' : (homePageContent?.logoUrl || '../../../assets/layout/images/logo-manhattan.png')" alt="logo" height="50">
              <a pstyleclass="@next" enterclass="hidden" leavetoclass="hidden" class="p-element cursor-pointer block lg:hidden text-gray-400">
                  <i class="pi pi-bars text-4xl"></i>
              </a>
              <div class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full bg-gray-900 left-0 top-100 px-6 lg:px-0 shadow-2 lg:shadow-none z-2">
                  <section></section>
                  <ul class="list-none p-0 m-0 flex lg:align-items-center text-gray-400 select-none flex-column lg:flex-row cursor-pointer">
                      <li *ngFor="let section of sections" (click)="scrollTo(section?.key)">
                          <div *ngIf="isSectionEnabled(section)">
                              <a class="p-ripple p-element flex px-0 lg:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150">
                                  <span>{{ section?.label }}</span>
                                  <span class="p-ink" style="height: 135px; width: 135px; top: -52.6094px; left: -16.5px;"></span>
                              </a>
                              <!-- Utilisez la directive *ngIf pour afficher ou masquer l'élément en fonction de la propriété hasDropdown -->
                              <div *ngIf="section?.submenu" class="lg:absolute bg-gray-800 origin-top left-0 top-100 w-full">
                                  <!-- Utilisez la directive *ngIf pour afficher ou masquer l'élément en fonction de la variable offersDropdownVisible -->
                                  <div *ngIf="dropdownVisible" class="flex flex-wrap p-6">
                                      <div class="w-full lg:w-6 mb-4 lg:mb-0">
                                          <span class="block font-normal text-2xl mb-4 text-white">{{ section?.label }}</span>
                                          <p class="line-height-3 m-0 text-gray-400">{{ section?.description }}</p>
                                      </div>
                                      <div class="w-full lg:w-6">
                                          <div class="flex flex-wrap border-bottom-1 border-gray-700 pb-3 mb-3" *ngFor="let submenu of section?.submenu; let i = index">
                                              <div *ngIf="isSectionSubMenuEnabled(submenu)">
                                                  <div class="px-0 lg:px-3 py-3" *ngFor="let item of [submenu?.label, submenu?.description, submenu?.isVisible]; let j = index">
                                                      <span class="text-white" *ngIf="j === 0">{{ item?.label }}</span>
                                                      <p class="text-sm text-gray-400 mt-2 mb-0 line-height-3" *ngIf="j === 1">{{ item?.description }}</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>
                  </ul>
                  <div class="flex justify-content-between lg:block border-top-1 lg:border-top-none border-gray-800 py-3 lg:py-0 mt-3 lg:mt-0">
                      <button label="Login" class="p-element p-ripple p-button-text font-bold p-button p-component" (click)="navigateToLogin()">
                          <span class="p-button-label">Login</span>
                          <span class="p-ink"></span>
                      </button>
                      <button label="Register" class="p-element p-ripple ml-3 font-bold p-button p-component" (click)="navigateToRegister()">
                          <span class="p-button-label">Register</span>
                          <span class="p-ink"></span>
                      </button>
                  </div>
              </div>
          </div>

          <div id="banner" class="bg-gray-900 px-4 py-8 md:px-6 lg:px-8">
              <div class="flex flex-wrap">
                  <div class="w-12 lg:w-6 p-4">
                      <div style="line-height: 1.5;color: #000000;font-size: xx-large; font-weight: bolder;">Welcome To <span
                              class="tw"></span>
                      </div>
                      <h1 class="text-6xl font-bold text-white mt-0 mb-3">{{ loading ? 'The first services and jobs referencing site.' : homePageContent?.bannerTitle }}</h1>
                      <p class="text-sm text-white mt-0 mb-5">{{ loading ? 'For services managements.' : homePageContent?.bannerDescription }}</p>
                  <div class="w-12 lg:w-6 text-center lg:text-right overflow-hidden">
                      <img [style.background-image]="loading ? 'url(\'../../../assets/layout/images/landing/about-section-image.png\')' : 'url(' + homePageContent?.bannerImageUrl + ')'" alt="banner" class="w-full lg:w-auto">
                  </div>
              </div>
          </div>
      </div>

      <div *ngFor="let section of sections">
          <div *ngIf="showSection(section?.key) && section?.key === 'homes'" id="{{ section?.key }}" class="surface-ground px-4 py-8 md:px-6 lg:px-8 text-center">
              <div class="font-bold text-900 text-3xl mb-3 text-center" [innerHTML]="generateLabelHtml(loading ? 'Service Manager' : homePageContent?.name)"></div>
              <div class="text-700 text-center mb-5 line-height-3">
                  {{ loading ? 'Everything you need to find the service you need. The first services and jobs referencing site.' : homePageContent?.description }}
              </div>

              <div class="grid">
                  <div *ngFor="let home of homes" class="col-12 md:col-4 mb-4 px-5" data-aos="fade-up" data-aos-duration="2300">
                      <div *ngIf="isHomeSectionEnabled(home)">
                          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                              <i [class]="'pi ' + home?.icon + ' text-4xl text-blue-500'"></i>
                          </span>
                          <div class="text-900 mb-3 font-medium">{{ home?.title }}</div>
                          <span class="text-700 text-sm line-height-3">{{ home?.description }}</span>
                      </div>
                  </div>
              </div>

              <div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
                  <div class="flex flex-wrap relative overflow-hidden" style="border-radius: 1rem; background: radial-gradient(100% 1126.49% at 100% 0%, rgba(106, 200, 212, 0.4) 0%, rgba(33, 33, 33, 0) 100%), #212121;">
                      <div class="px-6 py-8"><span class="uppercase text-cyan-500 font-bold">BE THE FIRST ONE</span>
                          <div class="text-white text-medium text-5xl mt-3 mb-5">Join {{ loading ? 'Service Manager' : homePageContent?.name }}</div>
                          <button class="p-ripple p-element p-3 bg-cyan-500 hover:bg-cyan-300 cursor-pointer transition-colors font-medium gray-900 border-none p-component transition-duration-150" style="border-radius: 35px;" (click)="navigateToLogin()">
                              Get Started
                              <span class="p-ink"></span>
                          </button>
                      </div>
                      <img src="assets/layout/images/landing/contacts2.png" alt="Image" class="static lg:absolute block mx-auto" style="height: 400px; top: -2rem; right: -1rem;">
                  </div>
              </div>
          </div>

          <div *ngIf="showSection(section?.key) && section?.key === 'abouts'" id="{{ section?.key }}" class="surface-section px-4 py-8 md:px-6 lg:px-8 overflow-hidden">
              <div class="text-900 font-bold text-4xl text-center mb-4" [innerHTML]="generateLabelHtml(loading ? 'Abouts' : section?.label)"></div>
              <div class="text-700 text-center mb-5 line-height-3">
                  {{loading ? 'We provide you with the best advisors for your success.' : section?.description}}
              </div>

              <div *ngFor="let about of abouts; let i = index" class="flex lg:justify-content-center mb-5">
                  <div *ngIf="isAboutSectionEnabled(about)" class="flex lg:justify-content-center mb-5">
                      <div *ngIf="isEven(i)">
                          <div class="py-3 pr-8 pl-3 w-30rem hidden lg:block">
                              <img [src]="about?.image" alt="Image" class="w-full mr-8">
                          </div>
                          <div class="flex flex-column align-items-center w-2rem">
                              <span class="bg-blue-500 text-0 flex align-items-center justify-content-center border-circle" style="min-width: 2.5rem; min-height: 2.5rem;"><i [class]="'pi ' + about?.icon + ' text-sm text-white'"></i></span>
                              <div class="h-full bg-blue-500" style="width: 2px; min-height: 4rem;"></div>
                          </div>
                          <div class="py-3 pl-5 lg:pl-8 pl-3 lg:w-30rem">
                              <div class="text-900 text-xl mb-2 font-medium">{{ about?.title }}</div>
                              <span class="block text-700 line-height-3 mb-3">{{ about?.description }}</span>
                              <img [src]="about?.image" alt="Image" class="w-full mt-3 block lg:hidden">
                          </div>
                      </div>
                      <div *ngIf="!isEven(i)">
                          <div class="py-3 pl-5 pr-3 lg:pr-8 lg:pl-3 lg:w-30rem flex-order-1 lg:flex-order-0">
                              <div class="text-900 text-xl mb-2 font-medium">{{ about?.title }}</div>
                              <span class="block text-700 line-height-3 mb-3">{{ about?.description }}</span>
                              <img [src]="about?.image" alt="Image" class="w-full mt-3 block lg:hidden">
                          </div>
                          <div class="flex flex-column align-items-center w-2rem flex-order-0 lg:flex-order-1">
                              <span class="bg-yellow-500 text-0 flex align-items-center justify-content-center border-circle" style="min-width: 2.5rem; min-height: 2.5rem;"><i [class]="'pi ' + about?.icon + ' text-sm text-white'"></i></span>
                              <div class="h-full bg-yellow-500" style="width: 2px; min-height: 4rem;"></div>
                          </div>
                          <div class="py-3 pl-8 pr-3 w-30rem hidden lg:block flex-order-2">
                              <img [src]="about?.image" alt="Image" class="w-full mr-8">
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div *ngIf="showSection(section?.key) && section?.key === 'careers'" id="{{ section?.key }}" class="surface-section px-4 py-8 md:px-6 lg:px-8">
              <div class="text-900 font-bold text-4xl text-center mb-4" [innerHTML]="generateLabelHtml(loading ? 'Careers' : section?.label)"></div>
              <div class="text-700 mb-6">
                  {{loading ? 'Find job offers tailored to your professional goals.' : section?.description}}
              </div>

              <p-carousel [value]="careers" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
                  <ng-template let-career pTemplate="item">
                      <div *ngIf="isCareerSectionEnabled(career)" class="w-full lg:w-6 xl:w-3 p-5">
                          <img [src]="career?.partenaire.logo" alt="Image" class="w-full">
                          <div class="mt-3 mb-2 font-medium text-900 text-xl">{{ career?.job | uppercase }}</div>
                          <p style="line-height: 1.5">{{ getCareerTypeLabelHtml(career?.type) }}</p>
                          <p-tag [value]="'Deadline ' + career?.dateLimite + ' at ' + career?.heureLimite" [severity]="getSeverityHtml(career?.dateLimite, career?.heureLimite)"></p-tag>
                          <span *ngIf="career?.description" class="text-700 line-height-3">{{ truncateDescription(career?.description) }}</span>
                          <button pButton type="button" (click)="viewDetails(career?.id, SectionType.CAREER)" class="text-blue-500 font-medium flex align-items-center mt-2">
                              <span>Explore</span>
                              <i class="pi pi-arrow-right ml-3"></i>
                          </button>
                      </div>
                  </ng-template>
              </p-carousel>

              <button pButton type="button" (click)="openSearchCareers()" class="text-blue-500 font-medium flex align-items-center mt-2">
                  <span>View More</span>
                  <i class="pi pi-arrow-right ml-3"></i>
              </button>
          </div>

          <div *ngIf="showSection(section?.key) && section?.key === 'offers'" id="{{ section?.key }}" class="surface-section px-4 py-8 md:px-6 lg:px-8">
              <div class="text-900 font-bold text-4xl text-center mb-4" [innerHTML]="generateLabelHtml(loading ? 'Offers' : section?.label)"></div>
              <div class="text-700 mb-6">
                  {{loading ? 'Highlight your services using the most popular digital platform.' : section?.description}}
              </div>

              <p-carousel [value]="offers" [numVisible]="3" [numScroll]="3" [circular]="true" [autoplayInterval]="3000">
                  <ng-template let-offer pTemplate="carousel">
                      <div *ngIf="isOfferSectionEnabled(offer)" class="flex lg:justify-content-center mb-5">
                      </div>
                      <!-- Élément de gauche -->
                      <div class="mb-6 md:mb-0 mr-0 md:mr-4 flex flex-column flex-grow-1">
                          <div class="bg-blue-100 text-center p-3" style="border-radius: 6px 6px 0 0;">
                              <div class="text-2xl font-bold text-blue-900 mb-3">{{ offer?.name }}</div>
                              <div class="flex align-items-center justify-content-center">
                                  <span class="font-bold text-blue-900 text-5xl mr-2">{{ offer?.price }}</span>
                                  <span class="text-2xl text-blue-400"> / {{ offer?.period }}</span>
                              </div>
                          </div>
                          <div class="bg-blue-50 p-4 flex flex-column flex-grow-1" style="box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1); border-radius: 0 0 6px 6px;">
                              <div class="text-bluegray-500 font-bold line-height-3 mb-4">
                                  {{ truncateDescription(offer?.description) }}
                              </div>
                              <ul class="list-none p-0 m-0 mb-5 text-blue-600">
                                  <li *ngFor="let feature of offer?.features" class="flex align-items-center mb-3">
                                      <i class="pi pi-circle-on mr-2 text-sm"></i>
                                      <span>{{ feature }}</span>
                                  </li>
                              </ul>
                              <button (click)="viewDetails(offer?.id, SectionType.OFFER)" class="p-element p-ripple p-button-secondary w-full mt-auto p-button p-component">
                                  <span class="p-button-label">{{ offer?.subscriptionMessage }}</span>
                                  <span class="p-ink"></span>
                              </button>
                          </div>
                      </div>
                  </ng-template>

                  <ng-template let-offer pTemplate="carousel">
                      <div *ngIf="isOfferSectionEnabled(offer)" class="mb-6 md:mb-0 mr-0 md:mr-4 flex flex-column flex-grow-1">
                          <div class="bg-blue-800 text-center p-3 border-3 border-green-500 border-bottom-none" style="border-radius: 6px 6px 0 0;">
                              <div class="bg-green-500 text-0 font-bold text-sm inline-block p-2 mb-3" style="border-radius: 20px;">
                                  {{ offer?.name }}
                              </div>
                              <div class="flex align-items-center justify-content-center">
                                  <span class="font-bold text-white text-5xl mr-2">{{ offer?.price }}</span>
                                  <span class="text-2xl text-blue-400"> / {{ offer?.period }}</span>
                              </div>
                          </div>
                          <div class="bg-blue-900 p-4 flex flex-column flex-grow-1 border-3 border-green-500 border-top-none" style="box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1); border-radius: 0 0 6px 6px;">
                              <div class="text-white font-bold line-height-3 mb-4">
                                  {{ truncateDescription(offer?.description) }}
                              </div>
                              <ul class="list-none p-0 m-0 mb-5 text-blue-100">
                                  <li *ngFor="let feature of offer?.features" class="flex align-items-center mb-3">
                                      <i class="pi pi-circle-on mr-2 text-sm"></i>
                                      <span>{{ feature }}</span>
                                  </li>
                              </ul>
                              <button (click)="viewDetails(offer?.id, SectionType.OFFER)" class="p-element p-ripple p-button-success w-full mt-auto p-button p-component">
                                  <span class="p-button-label">{{ offer?.subscriptionMessage }}</span>
                                  <span class="p-ink"></span>
                              </button>
                          </div>
                      </div>
                  </ng-template>

                  <ng-template let-offer pTemplate="carousel">
                      <div *ngIf="isOfferSectionEnabled(offer)" class="mb-6 md:mb-0 flex flex-column flex-grow-1">
                          <div class="bg-blue-800 text-center p-3" style="border-radius: 6px 6px 0 0;">
                              <div class="text-2xl font-bold text-white mb-3">{{ offer?.name }}</div>
                              <div class="flex align-items-center justify-content-center">
                                  <span class="font-bold text-white text-5xl mr-2">{{ offer?.price }}</span>
                                  <span class="text-2xl text-blue-400"> / {{ offer?.period }}</span>
                              </div>
                          </div>
                          <div class="bg-blue-900 p-4 flex flex-column flex-grow-1" style="box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1); border-radius: 0 0 6px 6px;">
                              <div class="text-blue-400 font-bold line-height-3 mb-4">
                                  {{ truncateDescription(offer?.description) }}
                              </div>
                              <ul class="list-none p-0 m-0 mb-5 text-blue-100">
                                  <li *ngFor="let feature of offer?.features" class="flex align-items-center mb-3">
                                      <i class="pi pi-circle-on mr-2 text-sm"></i>
                                      <span>{{ feature }}</span>
                                  </li>
                              </ul>
                              <button (click)="viewDetails(offer?.id, SectionType.OFFER)" class="p-element p-ripple p-button-outlined w-full mt-auto p-button p-component">
                                  <span class="p-button-label">{{ offer?.subscriptionMessage }}</span>
                                  <span class="p-ink"></span>
                              </button>
                          </div>
                      </div>
                  </ng-template>
              </p-carousel>

              <button pButton type="button" (click)="openSearchOffers()" class="text-blue-500 font-medium flex align-items-center mt-2">
                  <span>View More</span>
                  <i class="pi pi-arrow-right ml-3"></i>
              </button>
          </div>

          <div *ngIf="showSection(section.key) && section.key === 'partners'" id="{{ section.key }}" class="surface-section px-4 py-8 md:px-6 lg:px-8">
              <div class="text-900 font-bold text-4xl text-center mb-4" [innerHTML]="generateLabelHtml(loading ? 'Partners' : section?.label)"></div>
              <div class="text-700 mb-6">
                  {{loading ? 'Become partners and benefit.' : section?.description}}
              </div>

              <p-carousel [value]="partners" [numVisible]="3" [numScroll]="3" [circular]="true" [autoplayInterval]="3000">
                  <ng-template let-partner pTemplate="carousel">
                      <div *ngIf="isPartnerSectionEnabled(partner)" class="p-3">
                          <p-image [src]="partner?.logo" [preview]="true" alt="Image" width="50">
                              <ng-template pTemplate="indicator">
                                  <div class="text-900 mb-3 font-medium">{{ partner?.name }}</div>
                                  <p-tag [value]="partner?.siteWeb" severity="secondary"></p-tag>
                                  <p-tag [value]="partner?.contact" severity="secondary"></p-tag>
                                  <button pButton label="Read more" class="p-button-text" (click)="viewDetails(partner?.id, SectionType.OFFER)"></button>
                              </ng-template>
                          </p-image>
                      </div>
                  </ng-template>
              </p-carousel>
          </div>

          <div *ngIf="showSection(section.key) && section.key === 'contacts'" id="{{ section.key }}" class="surface-ground">
              <div class="grid grid-nogutter">
                  <div class="col-12 md:col-6 bg-no-repeat bg-cover p-8" style="background-image: url('assets/layout/images/landing/ContactUs.png');">
                      <div class="text-white text-2xl font-medium mb-6" [innerHTML]="generateLabelHtml(loading ? 'Contact Us' : section?.label)"></div>
                      <div class="text-gray-300 line-height-3 mb-6">
                          {{loading ? 'We are at your service 24h/24 and 7j/7.' : section?.description}}
                      </div>

                      <ul *ngFor="let contact of contacts" class="list-none p-0 m-0 mt-6 text-white">
                          <div *ngIf="isContactSectionEnabled(contact)">
                              <li class="flex align-items-center mb-3" (click)="getContactAction(contact.value, contact.type)">
                                  <i [ngStyle]="{'color': homePageContent?.hexaCouleurTheme || defaultColor}" class="pi {{ getContactIcon(contact.type) }} mr-2"></i>
                                  <span [ngStyle]="{'color': homePageContent?.hexaCouleurTheme || defaultColor}">{{ contact.value }}</span>
                              </li>
                          </div>
                      </ul>
                  </div>

                  <div class="col-12 md:col-6">
                      <div class="p-fluid formgrid grid px-4 py-8 md:px-6 lg:px-8">
                          <div class="field col-12 lg:col-6 mb-4">
                              <input id="firstname" type="text" pinputtext="" placeholder="Prénom" class="p-inputtext p-component p-element py-3 px-2 text-lg" [ngStyle]="{'border-color': homePageContent?.hexaCouleurTheme || defaultColor}" [(ngModel)]="firstName" required>
                          </div>
                          <div class="field col-12 lg:col-6 mb-4">
                              <input id="lastname" type="text" pinputtext="" placeholder="Nom" class="p-inputtext p-component p-element py-3 px-2 text-lg" [ngStyle]="{'border-color': homePageContent?.hexaCouleurTheme || defaultColor}" [(ngModel)]="lastName" required>
                          </div>
                          <div class="field col-12 mb-4">
                              <input id="email" type="text" pinputtext="" placeholder="Email" class="p-inputtext p-component p-element py-3 px-2 text-lg" [ngStyle]="{'border-color': homePageContent?.hexaCouleurTheme || defaultColor}" [(ngModel)]="email" required>
                          </div>
                          <div class="field col-12 mb-4">
                              <input id="phone" type="text" pinputtext="" placeholder="Téléphone" class="p-inputtext p-component p-element py-3 px-2 text-lg" [ngStyle]="{'border-color': homePageContent?.hexaCouleurTheme || defaultColor}" [(ngModel)]="phone" required>
                          </div>
                          <div class="field col-12 mb-4">
                              <textarea id="message" pinputtextarea="" rows="3" placeholder="Message" class="p-inputtextarea p-inputtext p-component p-element py-3 px-2 text-lg p-inputtextarea-resizable" style="height: 95px; overflow: hidden;" [ngStyle]="{'border-color': homePageContent?.hexaCouleurTheme || defaultColor}" [(ngModel)]="messageText" required></textarea>
                          </div>
                          <div class="col-12 text-right">
                              <button type="button" label="Submit" icon="pi pi-envelope" class="p-element p-ripple px-5 py-3 w-auto p-button p-component" [ngStyle]="{'background-color': homePageContent?.hexaCouleurTheme || defaultColor}" (click)="sendMessage()">
                                  <span class="p-button-icon p-button-icon-left pi pi-envelope" aria-hidden="true"></span>
                                  <span class="p-button-label">Submit</span>
                                  <span class="p-ink"></span>
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div id="footer" class="surface-section px-4 py-8 md:px-6 lg:px-8" [ngStyle]="{'background-color': homePageContent?.hexaCouleurTheme || defaultColor}">
          <div class="flex align-items-start lg:align-items-center lg:justify-content-between pb-5 border-bottom-1 border-300 flex-column lg:flex-row">
              <div class="pr-0 lg:pr-8">
                  <img src="assets/images/blocks/logos/bastion-700.svg" alt="logo" height="50">
                  <div class="text-gray-300 font-bold text-5xl">{{ loading ? 'Service Manager App' : homePageContent?.footerTitle }}</div>
                  <p class="text-600 line-height-3 text-xl mb-0 mt-5">{{ loading ? 'Join Service Manager Community.' : homePageContent?.footerDescription }}</p>
              </div>
              <button label="Get Started" class="p-element p-ripple mt-5 lg:mt-0 white-space-nowrap min-w-max p-button p-component" [ngStyle]="{'background-color': homePageContent?.hexaCouleurTheme || defaultColor}" (click)="navigateToLogin()">
                  <span class="p-button-label">Get Started</span>
                  <span class="p-ink"></span>
              </button>
          </div>
          <div class="py-5 border-bottom-1 border-300">
              <div class="grid">
                  <div class="col-12 sm:col-6 md:col-4 lg:col-2">
                      <span class="text-900 block font-bold line-height-3 mb-3">Company</span>
                      <ul class="list-none p-0 m-0">
                          <li class="mb-2" (click)="scrollTo('abouts')">
                              <a class="text-700 cursor-pointer line-height-3">About Us</a>
                          </li>
                          <li class="mb-2" (click)="scrollTo('careers')">
                              <a class="text-700 cursor-pointer line-height-3">Careers</a>
                          </li>
                      </ul>
                  </div>
                  <div class="col-12 sm:col-6 md:col-4 lg:col-2">
                      <a class="text-900 block font-bold line-height-3 mb-3" (click)="scrollTo('offers')">Offers</a>
                      <ul class="list-none p-0 m-0">
                          <li class="mb-2">
                              <a class="text-700 cursor-pointer line-height-3">IT Graphik</a>
                          </li>
                          <li class="mb-2">
                              <a class="text-700 cursor-pointer line-height-3">DeVops</a>
                          </li>
                          <li class="mb-2">
                              <a class="text-700 cursor-pointer line-height-3">Big Data</a>
                          </li>
                          <li class="mb-2">
                              <a class="text-700 cursor-pointer line-height-3">Courses</a>
                          </li>
                          <li class="mb-2">
                              <a class="text-700 cursor-pointer line-height-3">Documentation</a>
                          </li>
                          <li class="mb-2">
                              <a class="text-700 cursor-pointer line-height-3">API Reference</a>
                          </li>
                          <li class="mb-2">
                              <a class="text-700 cursor-pointer line-height-3">Development Application</a>
                          </li>
                      </ul>
                  </div>
                  <div class="col-12 sm:col-6 md:col-4 lg:col-2">
                      <span class="text-900 block font-bold line-height-3 mb-3">Connect</span>
                      <ul class="list-none p-0 m-0">
                          <li class="mb-2" (click)="scrollTo('partners')">
                              <a class="text-700 cursor-pointer line-height-3">Partners</a>
                          </li>
                          <li class="mb-2" (click)="scrollTo('contacts')">
                              <a class="text-700 cursor-pointer line-height-3">Contacts</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="flex justify-content-between align-items-center py-5">
              <span>Copyright © {{currentDate | date:'yyyy'}} by <a href="https://github.com/DexDevNL2023">Dexter Nlang</a></span>
              <div class="flex align-items-center justify-content-between"><a
                  class="cursor-pointer text-500 md:ml-3 ml-2"><i class="pi pi-twitter text-xl"></i></a><a
                  class="cursor-pointer text-500 md:ml-3 ml-2"><i class="pi pi-facebook text-xl"></i></a><a
                  class="cursor-pointer text-500 md:ml-3 ml-2"><i class="pi pi-github text-xl"></i></a></div>
          </div>
      </div>

      <!-- Scripts (make sure to include required PrimeNG and PrimeIcons scripts) -->
      <script src="https://cdn.jsdelivr.net/npm/primeng@16.0.2/resources/primeng.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/primeicons@6.0.1/primeicons.js"></script>
  </body>
</html>
